<!-- <div style="display: block;">
    <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div> -->

<div class="row">
  <div class="col col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        Bar Chart
      </div>
      <div class="card-body">
        <canvas [chartType]="barChartType" [datasets]="barChartData" [labels]="barChartLabels" [legend]="barChartLegend"
          [options]="barChartOptions" baseChart>
        </canvas>
      </div>

    </div>
  </div>
  <div class="col col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        Pie Chart
      </div>
      <div class="card-body">
        <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
      </div>
    </div>
  </div>
</div>