<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">Loan Repayment Calculator</h1>
  </div>
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div class="container card">
    <div class="row">
      <div class="col-md-6">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="form-group">
              <label for="loanAmount">Enter Loan Amount</label>
              <input formControlName="loanAmount" type="number" class="form-control" id="loanAmount"
                placeholder="Enter Amount" class="form-control" />
              <div *ngIf="loanAmount.touched && loanAmount.invalid">
                <div class="alert alert-danger" *ngIf="loanAmount.errors.required">
                  Required!!
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="loanTerm">Enter Loan Tenure</label>
              <input formControlName="loanTerm" type="number" class="form-control" id="loanTerm"
                placeholder="Enter Loan Term" class="form-control" />
              <div *ngIf="loanTerm.touched && loanTerm.invalid">
                <div class="alert alert-danger" *ngIf="loanTerm.errors.required">
                  Required!!
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="interestRate">Enter Interest Rate </label>
              <input formControlName="interestRate" type="number" class="form-control" id="interestRate"
                placeholder="Enter Interest Rate" class="form-control" />
              <div *ngIf="interestRate.touched && interestRate.invalid">
                <div class="alert alert-danger" *ngIf="interestRate.errors.required">
                  Required!!
                </div>
              </div>
            </div>
            <br />
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="LoanType">Select Loan Type</label>
              <select class="form-control" formControlName="loanType" id="LoanType">
                <option *ngFor="let lType of loanTypeValue" [value]="lType.id">
                  {{ lType.name }}
                </option>
              </select>
              <div *ngIf="loanType.touched && loanType.invalid">
                <div class="alert alert-danger" *ngIf="loanType.errors.required">
                  Required!!
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="btn-group btn-group-toggle btn-block margin-top" data-toggle="buttons">
                <label class="btn btn-primary" [ngClass]="change===1?'active':''">
                  <input type="radio" (change)="onChangeValue()" formControlName="termType" id="option1" value="1"
                    autocomplete="off"> Year
                </label>
                <label class="btn btn-primary " [ngClass]="change===2?'active':''">
                  <input type="radio" (change)="onChangeValue()" formControlName="termType" id="option2" value="2"
                    autocomplete="off"> Month
                </label>
              </div>
            </div>

            <!-- <div class="form-group">
              <label for="termType">Tenure Type</label>
              <select (change)="onChangeValue()" class="form-control" formControlName="termType" id="termType">
                <option value="1">Year</option>
                <option value="2">Month</option>
              </select>
              <div *ngIf="termType.touched && termType.invalid">
                <div class="alert alert-danger" *ngIf="termType.errors.required">
                  Required!!
                </div>
              </div>
            </div> -->

            <div class="form-group">
              <label for="">&nbsp;</label>
              <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary btn-block">
                Calculate EMI
              </button>
              <div *ngIf="
                          (loanTerm.touched && loanTerm.invalid) ||
                          (loanAmount.touched && loanAmount.invalid) ||
                          (interestRate.touched && interestRate.invalid)
                        ">
                <div class="alert alert-danger" *ngIf="
                            loanTerm.errors?.negativeValue ||
                            loanAmount.errors?.negativeValue ||
                            termType.errors?.negativeValue
                          ">
                  Remove Negative Value!!
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="card col-md-12 border border-primary">
            <div class="card-body col-md-8 offset-2">
              <h6 class="text-md-center">MINIMUM MONTHLY PAYMENT</h6>
              <h3 class="text-md-center">{{ emiValue | roundTheNumber | currency: "INR" }}</h3>
            </div>
          </div>
          <div class="card col-md-12 border border-primary">
            <div class="card-body">
              <h6 class="text-md-center">TOTAL AMOUNT PAID</h6>
              <h3 class="text-md-center">
                {{ totalAmountPaid | roundTheNumber | currency: "INR" }}
              </h3>
            </div>
          </div>
          <div class="card col-md-12 border border-primary">
            <div class="card-body">
              <h6 class="text-md-center">TOTAL INTEREST PAID</h6>
              <h3 class="text-md-center">
                {{ totalIntrest | roundTheNumber | currency: "INR" }}
              </h3>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</form>
<dispaly-amortization [amortizationValues]="amortizationValues"></dispaly-amortization>